<!DOCTYPE html>
<html>
  <head>
    <title>Talk Schedule</title>

    <!-- Include moment.js -->
    <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.anyslider.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='time_handling.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-anyslider.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='talks.css') }}" />

    <script>
    function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = h+":"+m+":"+s;
        var t = setTimeout(function(){startTime()},500);
    }

    function checkTime(i) {
        if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>
  </head>


  <body onload="startTime()">
    <header>
      <h1>Logo</h1>
        <div id="time-container">
          <div class="wrapper">
            <time id="time">
                {{momentjs(timestamp).format('HH:mm:ss')}}
            </time>
          </div>
        </div>
        {# {{momentjs(timestamp).format('YYYY-MM-DD')}} #}
    </header>
    <div class="container">
      <div class="talks-slides">
      {% if not empty %}
        {% for track in talks_list %}
          {% for t in talks_list[track]["current"] %}
          <div>
            <section>
              <div class="wrap">
                <h1 style="display:inline" >{{t.start_hour}}</h1> <h1 style="display:inline" >: {{ t.title }} ({{ t.talk_type }})</h1>
              </div>

              <footer>
                <div>
                  <div class="room">
                    <dl>
                      <dt>Room</dt>
                      <dd>{{ t.track_title }} </dd>
                    </dl>
                  </div>

                  <div class="speaker">
                    <dl>
                      <dt>Speaker</dt>
                      <dd>{{ t.speakers }}</dd>
                    </dl>
                  </div>
                </div>
              </footer>
            </section>
          </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        <div>
          <section>
            <div class="wrap">
              <h1 style="display:inline" >No talks at this time</h1>
            </div>
          </section>
        </div>
      {% endif %}
      </div>
    </div>

    <div class="container" style="height: 77%">
        <iframe src="/feeds" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="clear"></div>
    <footer>
      <div class="next-talk">
        <div id="next-talk-container">
          <div>
          {% if not empty %}
            <h2>Upcoming talk</h2>

            <div class="next-talks-slides">
              {% for track in talks_list %}
                {% for t in talks_list[track]["current"] %}
                  <p>{{ t.title }}</p>
                {% endfor %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="sponsors-container">
        <div class="wrapper">
          <ul class="sponsors">
            <li class="psf"><img src="{{ url_for('static', filename='media/sponsors/psf.png') }}"></li>
            <li class="bilbao"><img src="{{ url_for('static', filename='media/sponsors/bilbao.png') }}"></li>
            <li class="upv"><img src="{{ url_for('static', filename='media/sponsors/upv.png') }}"></li>
            <li class="bbva"><img src="{{ url_for('static', filename='media/sponsors/bbva.png') }}"></li>
            <li class="hired"><img src="{{ url_for('static', filename='media/sponsors/hired.png') }}"></li>
            <li class="intel"><img src="{{ url_for('static', filename='media/sponsors/intel.png') }}"></li>
            <li class="microsoft"><img src="{{ url_for('static', filename='media/sponsors/microsoft.png') }}"></li>
            <li class="winton"><img src="{{ url_for('static', filename='media/sponsors/winton.png') }}"></li>
          </ul>
        </div>
      </div>
    </footer>

    <script>
    $(function () {
      var current = $('.talks-slides').anyslider({
        showControls: false,
        pauseOnHover: false,
        showBullets: false,
      }).data('anyslider');

      var next = $('.next-talks-slides').anyslider({
        showControls: false,
        pauseOnHover: false,
        showBullets: false,
      }).data('anyslider');

      current.pause();

      if (next) {
        next.pause();
      }

      window.setInterval(function() {
        current.next();

        if (next) {
          next.next();
        }
      }, 8000);

      window.setTimeout(function() {
        window.location.reload();
      }, 1000 * 60 * 2)
    });
    </script>
    </body>
    </html>
