<!DOCTYPE html>
<html>
  <head>
    <title>Talk Schedule</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css"/>

    <!-- Include moment.js -->
    <script src="/static/moment.min.js"></script>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/jquery.anyslider.js"></script>
    <script src="/static/jquery.easing.1.3.js"></script>
    <script src="/static/time_handling.js"></script>

    <link rel="stylesheet" href="/static/jquery-anyslider.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <link rel="stylesheet" href="/static/talks.css" />

    <script>
    function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('time').innerHTML = h+":"+m+":"+s;
        var t = setTimeout(function(){startTime()},500);
    }

    function checkTime(i) {
        if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>
  </head>


  <body onload="startTime()">
    <header>
      <h1>Logo</h1>
        <div id="time-container">
          <time id="time">
              {{momentjs(timestamp).format('HH:mm:ss')}}
          </time>
        </div>
        {# {{momentjs(timestamp).format('YYYY-MM-DD')}} #}
    </header>
    <div class="container">
      <div class="talks-slides">
      {% if not empty %}
        {% for track in talks_list %}
          {% for t in talks_list[track]["current"] %}
          <div>
            <section>
              <div class="wrap">
                <h1 style="display:inline" >{{t.start_hour}}</h1> <h1 style="display:inline" >: {{ t.title }} ({{ t.talk_type }})</h1>
              </div>

              <footer>
                <div>
                  <div class="room">
                    <dl>
                      <dt>Room</dt>
                      <dd>{{ t.track_title }} </dd>
                    </dl>
                  </div>

                  <div class="speaker">
                    <dl>
                      <dt>Speaker</dt>
                      <dd>{{ t.speakers }}</dd>
                    </dl>
                  </div>
                </div>
              </footer>
            </section>
          </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        <div>
          <section>
            <div class="wrap">
              <h1 style="display:inline" >No talks at this time</h1>
            </div>
          </section>
        </div>
      {% endif %}
      </div>
    </div>

    <div class="container" style="height: 77%">
        <iframe src="/feeds" width="100%" height="100%" frameborder="0"></iframe>
    </div>
    <div class="clear"></div>
    <footer>
      <div class="next-talk">
        <div id="next-talk-container">
          <div>
          {% if not empty %}
            <h2>Upcoming talk</h2>

            <div class="next-talks-slides">
              {% for track in talks_list %}
                {% for t in talks_list[track]["current"] %}
                  <p>{{ t.title }}</p>
                {% endfor %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="sponsors-container">
        <ul class="sponsors">
          <li class="google"><img src="{{ url_for('static', filename='media/sponsors/google.png') }}"></li>
          <li class="datarobot"><img src="{{ url_for('static', filename='media/sponsors/datarobot.png') }}"></li>
          <li class="bilbao"><img src="{{ url_for('static', filename='media/sponsors/bilbao.png') }}"></li>
          <li class="cloudmas"><img src="{{ url_for('static', filename='media/sponsors/cloudmas.png') }}"></li>
        </ul>
      </div>
    </footer>



    <!-- we should put this iframe somehow -->
    <!-- <iframe src="http://smartfeedz.com/livepage/demo/live/europython-2/?token=5da16b3711df7a7447420a02b34f0b4a2e9df684#/projectorm"  height="200"></iframe> -->

    <script>
    $(function () {
      var current = $('.talks-slides').anyslider({
        showControls: false,
        pauseOnHover: false,
        showBullets: false,
      }).data('anyslider');

      var next = $('.next-talks-slides').anyslider({
        showControls: false,
        pauseOnHover: false,
        showBullets: false,
      }).data('anyslider');

      current.pause();

      if (next) {
        next.pause();
      }

      window.setInterval(function() {
        current.next();

        if (next) {
          next.next();
        }
      }, 8000);

      window.setTimeout(function() {
        window.location.reload();
      }, 1000 * 60 * 2)
    });
    </script>
    </body>
    </html>
